<!DOCTYPE html>
<html>
<head>
  <title>Trendwave.io</title>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,600,200italic,600italic&subset=latin,vietnamese' rel='stylesheet' type='text/css'>
​
  <script src="http://phuonghuynh.github.io/js/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="http://phuonghuynh.github.io/js/bower_components/d3/d3.min.js"></script>
  <script src="http://phuonghuynh.github.io/js/bower_components/d3-transform/src/d3-transform.js"></script>
  <script src="http://phuonghuynh.github.io/js/bower_components/cafej/src/extarray.js"></script>
  <script src="http://phuonghuynh.github.io/js/bower_components/cafej/src/misc.js"></script>
  <script src="http://phuonghuynh.github.io/js/bower_components/cafej/src/micro-observer.js"></script>
  <script src="http://phuonghuynh.github.io/js/bower_components/microplugin/src/microplugin.js"></script>
    <script src="bubble-chart.js"></script>
    <script src="central-click.js"></script>
    <script src="lines.js"></script>
    <link rel="stylesheet" type="text/css" href="styles.css">
    
  <style>
    .bubbleChart {
      width: 100%;
      margin: 0 auto;
    }
  </style>
</head>
<body ng-app='app' style="background-image: url('triangle_bg.png');"> 
​

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src="app.js"></script>
​
<!--   <h1>Trendwave Top Results</h1> -->
<!--   <div ng-controller='appController'>
    <div ng-repeat='trend in trends'><button ng-click="twitterGrab(trend)">{{ trend }}</button></div>
  </div> -->



<!--   <a id="dashboard" href="http://localhost:3000/dashboard"> -->


  <div id='wrapper'>
    <div class="bubbleChart" id='svg'>
      <script src="test-bubble-chart.js"></script>
    </div>
  </div>
  </a>

</body>
</html>