#wrapper {
    position:relative; width:120%; height:120%;
    margin:0 auto
}
#svg {
    position:fixed; 
    display: block;
    margin: auto;
    text-align:center;
}
​
.bubbleChart {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}